<mat-sidenav-container autosize>
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" opened="true">
        <app-menu (drawMapEvent)="onDrawMap()" (selectMapEvent)="onSelectMap($event)"
            (analyzeMapEvent)="onAnalyzeMap($event)" (logoutEvent)="onLogout()"></app-menu>
    </mat-sidenav>
    <!-- Content -->
    <div id="content">
        <!-- MAP column -->
        <div id="leftCol">
            <app-map></app-map>
        </div>
        <!-- CHART column -->
        <div id="rightCol" [hidden]="!map?.currentMap">
            <app-analysis></app-analysis>
        </div>
    </div>
</mat-sidenav-container>