<mat-sidenav-container autosize>
    <!-- Sidenav -->
    <mat-sidenav #sidenav mode="side" opened="true">
        <app-menu (drawMapEvent)="onDrawMap()"></app-menu>
    </mat-sidenav>
    <!-- Content -->
    <div class="container-fluid h-100">
        <div class="row h-100">
            <!-- MAP column -->
            <div class="div_map col-md-6">
                <app-map></app-map>
            </div>
            <!-- CHART column -->
            <div class="div_chart col-md-6">
                <h2>Visualización de modelos asociados a respuestas espectrales de Sistemas de producción de Arroz</h2>
                <app-chart></app-chart>
            </div>
        </div>
    </div>
</mat-sidenav-container>