mat-sidenav-container {
    height: 100%;
}

.user-config {
    position: absolute;
    bottom: 0;
}

.div_map {
    min-height: 500px;
    background-color: green;
    padding: 10px;
}

.div_chart {
    min-height: 500px;
    background-color: blue;
    padding: 10px;
}

h2 {
    text-align: center;
}