mat-sidenav-container {
    height: 100%;
    background-color: lightgrey;
}

mat-sidenav {
    background-color: lightgrey;
}

#content {
    display: flex;
    height: 100%;
    width: 100%;
}

#leftCol {
    padding: 5px;
    width: 100%;
    height: 100%;
    float: left;
}

#rightCol {
    padding: 5px;
    width: 50%;
    height: 100%;
    background-color: blue;
}