/* Selector section styles */

mat-form-field {
	margin: 3%;
	width: 90%;
}

.selectorSection {
	display: flex;
}

.selectorWrapper {
	width: 50%;
}

/* Table styles */

.mat-tab-label.mat-tab-label-active {
	background-color: rgb(220, 220, 220);
}

.mat-tab-label {
	min-width: 0px !important;
}

.indexTable {
	margin: 10px auto 10px auto;
}

.indexButtonPanel {
	text-align: center;
}

.indexTable th {
	padding: 10px 20px;
	color: white;
	background-color: gray;
	border: 2px solid gray;
	font-weight: normal;
}

.indexTable td {
	padding: 10px;
	cursor: pointer;
	text-align: center;
}

.indexTable td:hover {
	color: gray;
	background-color: rgb(240, 240, 240);
	border-bottom: 2px solid #3f51b5;
}

.headCol {
	background-color: lightgray;
	border-bottom: 2px solid lightgray;
}