<div class="flex-container">
	<h2>Administrar Clústers</h2>
	<button mat-button mat-dialog-close class="close">
		<mat-icon>close</mat-icon>
	</button>
</div>
<mat-spinner *ngIf="!varietiesList && !clustersList"></mat-spinner>
<mat-dialog-content *ngIf="varietiesList && clustersList">
	<mat-form-field appearance="fill">
		<mat-label>Variedad</mat-label>
		<mat-select [(ngModel)]="selectedVariety" (selectionChange)="onSelectedVariety()">
			<mat-option *ngFor="let variety of varietiesList" [value]="variety">{{variety.name}}</mat-option>
		</mat-select>
	</mat-form-field>
	<table *ngIf="selectedVariety">
		<tbody>
			<tr *ngFor="let cluster of varietyClusters">
				<td class="firstColumn">
					{{cluster.name}}
				</td>
				<td>
					<button mat-icon-button (click)="onEditName(cluster)">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-icon-button (click)="onEditPolygon(cluster)">
						<mat-icon>location_on</mat-icon>
					</button>
					<button mat-icon-button (click)="onDelete(cluster)">
						<mat-icon>delete_outline</mat-icon>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<p *ngIf="!varietiesList.length">No se ha creado ninguna variedad.</p>
	<p *ngIf="selectedVariety && !varietyClusters?.length">Esta variedad no tiene ningún clúster.</p>
	<button *ngIf="selectedVariety" mat-button mat-raised-button class="addButton" color="primary" (click)="onAdd()">
		<mat-icon>library_add</mat-icon>&nbsp;&nbsp;Agregar Clúster
	</button>
</mat-dialog-content>