<h2>Lotes Guardados</h2>
<mat-dialog-content>
  <div class="mat-elevation-z5">
    <table *ngIf="mapList?.length">
      <thead>
        <th *ngFor="let col of tableHeaders">{{col}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of mapList">
          <td>
            {{row.name}}
          </td>
          <td>
            {{cropNames[row.crop]}}
            <p *ngIf="!cropNames[row.crop]">No se encuentra el cultivo</p>
          </td>
          <td>
            {{formatDate(row.seedDate)}}
          </td>
          <td>
            <button mat-raised-button color="primary" [disabled]="!cropNames[row.crop]" (click)="onSelectMap(row)">
              <mat-icon>play_arrow</mat-icon>Seleccionar lote
            </button>
            <button mat-icon-button (click)="onEditMap(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteMap(row)" color="warn">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p *ngIf="!mapList?.length">Aún no tiene mapas guardados.</p>
  <br>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-stroked-button mat-dialog-close color="primary">Cerrar</button>
</mat-dialog-actions>