<h2>Agregar Nuevo Lote</h2>
<mat-dialog-content>
  <!-- Name -->
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Nombre del lote</mat-label>
    <input matInput [formControl]="name" required>
    <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <!-- Crop variety -->
  <mat-form-field class="full-width" appearance="fill" *ngIf="varieties.length">
    <mat-label>Variedad</mat-label>
    <mat-select [formControl]="variety" required>
      <mat-option *ngFor="let variety of varieties" [value]="variety">{{variety}}</mat-option>
    </mat-select>
    <mat-error *ngIf="variety.invalid">{{getVarietyErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <!-- Seed date -->
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Fecha de Emergencia</mat-label>
    <input matInput [matDatepicker]="picker" [max]="today" [formControl]="date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="date.invalid">{{getDateErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onSave()" mat-raised-button color="primary">Guardar</button>
  <button mat-button mat-stroked-button mat-dialog-close color="primary">Cancelar</button>
</mat-dialog-actions>