.imgLogoUnal {
    width: 60%;
}

.card {
    margin-top: -15%;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

::placeholder {
    color: #000000;
}

.background-radial-gradient {
    background-color: hsl(219, 33%, 92%);
    background-image: radial-gradient(650px circle at 0% 0%, rgb(148, 180, 59) 100%, transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
            hsl(0, 0%, 100%) 80%,
            transparent 100%);
}

#radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(rgb(118, 35, 47), rgb(166, 28, 49));
    overflow: hidden;
}

.bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
}

.btnsubmit {
    background-color: #000000;
}

.imgAux img {
    margin-top: -14%;
    width: 80vw;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #eeeeee;
    color: #000000;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #fafafa;
}

input:focus {
    outline: none;
}

.bar:before,
.bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: rgb(86, 90, 92);
    transition: all 0.2s ease;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

button {
    padding: 1em 3em;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(148, 180, 59);
    border: none;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: rgb(148, 180, 59);
    color: #fff;
    transform: translateY(-7px);
}