<p>ID: {{'64530700d45051eccbe2464a'}}</p>
<!-- TODO replace hardcoded values for variables -->
<table>
    <tbody>
        <tr>
            <td>Nombre del lote</td>
            <td class="secondCol">{{'Lote las 50 - Granada '}}</td>
        </tr>
        <tr>
            <td>Variedad sembrada</td>
            <td class="secondCol">{{'GENEROSA'}}</td>
        </tr>
        <tr>
            <td>Inicio de ciclo</td>
            <td class="secondCol">{{'2023-07-01'}}</td>
        </tr>
        <tr>
            <td>Fin de ciclo (estimado)</td>
            <td class="secondCol">{{'2023-07-01'}}</td>
        </tr>
        <tr>
            <td>Índices disponibles</td>
            <td class="secondCol">{{'NDVI, RVI, MSAVI'}}</td>
        </tr>
    </tbody>
</table>