html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bit-snackBarSuccessful {
    background-color: #568003;
    color: #ffffff;
}

.bit-snackBarError {
    background-color: #810505;
    color: #ffffff;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}