tr {
	border-top: 1px solid rgb(220, 220, 220);
	border-bottom: 1px solid rgb(220, 220, 220);
}

tr:hover {
	background-color: rgb(220, 220, 220);
}

.firstColumn {
	padding: 10px 100px 10px 10px;
}

.addButton {
	margin: 10px;
	font-size: small;
	font-weight: normal;
}

p {
	justify-content: center;
	font-style: italic;
	color: rgb(180, 180, 180);
}