<h2>Etapas Fenológicas vs. Índices</h2>
<mat-dialog-content>
  <!-- Variety selector -->
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Seleccione variedad</mat-label>
    <mat-select [(ngModel)]="selectedCrop" name="crop" (selectionChange)="onSelectChange()">
      <mat-option *ngFor="let crop of cropList" [value]="crop">{{crop.variety}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Phenology vs. Index table -->
  <p *ngIf="selectedCrop">ID: {{selectedCrop._id}}</p>
  <table>
    <thead>
      <th *ngFor="let col of columnsToDisplay">{{col}}</th>
    </thead>
    <tbody>
      <tr *ngFor="let row of table">
        <td *ngFor="let col of columnsToDisplay; let i = index" [class.firstCol]="i < 2"
          (click)="onCellClick(row, col)">
          {{row[col]}}
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <button class="optButton" mat-button (click)="onAddRow()" mat-raised-button color="basic">
    <mat-icon>library_add</mat-icon> Agregar etapa
  </button>
  <button class="optButton" mat-button (click)="onDeleteRow()" mat-raised-button color="basic">
    <mat-icon>delete_outline</mat-icon> Eliminar etapa
  </button>
  <br>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onUpdate()" mat-raised-button color="primary">Guardar</button>
  <button mat-button mat-stroked-button mat-dialog-close color="primary">Cancelar</button>
</mat-dialog-actions>