<h2>Etapas Fenológicas vs. Índices</h2>
<mat-dialog-content>
  <!-- Variety selector -->
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Seleccione variedad</mat-label>
    <mat-select [(ngModel)]="selectedCrop" name="crop" (selectionChange)="onSelectChange()">
      <mat-option *ngFor="let crop of cropList" [value]="crop">{{crop.variety}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="basic" class="addButton" (click)="onAddCrop()">
    <mat-icon>library_add</mat-icon>Agregar Variedad
  </button>
  <button mat-button color="primary" class="delButton" (click)="onDeleteCrop()">
    <mat-icon>delete_outline</mat-icon>Eliminar Variedad
  </button>
  <div *ngIf="selectedCrop">
    <p>ID: {{selectedCrop._id}}</p>
    <!-- Phenology vs. Index table -->
    <table>
      <thead>
        <th *ngFor="let col of tableHeaders">{{col}}</th>
      </thead>
      <tbody>
        <tr *ngFor="let row of table">
          <td *ngFor="let col of tableHeaders; let i = index" [class.firstCol]="i < 2"
            (click)="onCellClick(row, col)">
            {{row[col] ?? '-'}}
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <!-- Crop CRUD operations buttons -->
    <button mat-button color="basic" class="addButton" (click)="onAddRow()">
      <mat-icon>library_add</mat-icon> Agregar etapa
    </button>
    <button mat-button color="basic" class="delButton" (click)="onDeleteRow()">
      <mat-icon>delete_outline</mat-icon> Eliminar etapa
    </button>
    <br>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onSave()" mat-raised-button color="primary">Guardar</button>
  <button mat-button mat-stroked-button mat-dialog-close color="primary">Cancelar</button>
</mat-dialog-actions>